spring:
  application:
    name: payment-gateway
  datasource:
    url: jdbc:postgresql://localhost:5432/payment_gateway
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

grpc:
  server:
    port: 9090
    enable-keep-alive: true
    keep-alive-time: 30s
    keep-alive-timeout: 10s

